---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <main class="m-auto p-4 max-w-full text-xl px-16">
    <span class="columns-2 flex md:shrink-0 justify-items-center items-center justify-evenly">
        <h1 class="text-mech-500 pt-40 content-center font-sans px-9"><span class="bg-clip-text text-8xl">About Mech Club</span></h1>
    </span>
    <p class="text-mech-500 py-9">Welcome to Mech Club! We are for the students, run by the students, and here for you every step of the way through your undergrad. Find out more about us below!<br/>
    </p>
    <h2 class="text-mech-500 py-8 content-center font-sans"><span class="bg-clip-text text-6xl">What We Do</span></h2>
    <p class="text-mech-500 leading-10">
      Mech Club does a variety of things:
      <ul class="list-disc list-inside">
        <li>
          Host holiday-based and social events
        </li>
        <li>
          Organize the MIE Dinner Dance (which is the best one)
        </li>
        <li>
          Run a mentorship program for first-years
        </li>
        <li>
          Act as the intermediary between you and the faculty to ensure an excellent school year!
        </li>
      </ul> Please feel free to reach out to us with any questions, concerns, or ideas. We would love to hear from you!<br />
    </p>
    <h2 class="text-mech-500 py-8 content-center font-sans"><span class="bg-clip-text text-6xl">Meet the Team (WIP)</span></h2>
  </main>
</Layout>
