---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CardAlternate from '../components/CardAlternate.astro';
---

<Layout>
  <main class="m-auto p-4 max-w-full text-xl sm:px-24">
    <span class="columns-2 flex md:shrink-0 justify-items-center items-center justify-evenly">
      <h1 class="text-mech-500 pt-40 content-center font-bold font-sans sm:px-9 bg-clip-text text-6xl sm:text-8xl">Welcome to Mech Club!</h1>
    </span>
    <p class="text-mech-500 text-justify pt-9 pb-4">Hello! We are Mech Club at the University of Toronto, ready to welcome all of you into our community! We are here to serve the mechanical engineering students of UofT. Use the links below to find out more and access some nifty resources!<br />
    </p>
    <ul role="list" class="link-card-grid p-0 grid gap-8">
      <Card
              href="/about/"
              title="About Us"
              body="Learn about how Mech Club works!"
      />
      <Card
              href="/resources/"
              title="Resources"
              body="Explore the resources we provide, including academic support, mental health tips, and lockers!"
      />
      <Card
              href="/shop/"
              title="Shop Lockers & Merch"
              body="Learn more about & rent our lockers, and look at our very pretty merch :3"
      />
      <Card
              href="mailto:mechclub@g.skule.ca"
              title="Contact Us"
              body="Want to ask us something? Got a suggestion for something we should be doing? Let us know! Contact us at mechclub@g.skule.ca."
      />
    </ul>
    <br />
    <ul role="list" class="link-card-grid p-0 grid gap-8">
      <CardAlternate
              href="https://q.utoronto.ca/courses/178298"
              title="Quercus Notifications"
              body="Get notifications from Mech Club on Quercus!"
      />
      <CardAlternate
              href="https://gather.town/app/iHJnJSO6TKJFjYew/CR"
              title="Online Common Room"
              body="Check out our online common room!"
      />
    </ul>
    <br />
    <ul role="list" class="link-card-grid p-0 grid gap-8">
      <Card
              href="https://linktr.ee/mechclub"
              title="LinkTree"
              body="Use our LinkTree to find forms and events!"
      />
      <Card
              href="https://www.instagram.com/mechclub/"
              title="Instagram"
              body="Be on the know by following us on Insta!"
      />
      <Card
              href="https://www.facebook.com/MechClub"
              title="Facebook"
              body="Or if you're a boomer, follow our Facebook page!"
      />
      <Card
              href="https://www.github.com/MechClub"
              title="GitHub"
              body="Wondering how we made this website? Check out our GitHub 😉"
      />
    </ul>
  </main>
</Layout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
