---
import Layout from '../layouts/Layout.astro';
---
<Layout title="pizza!!" description="Find out how to get a discount on pizza!" >
  <main class="m-auto p-4 max-w-full text-xl sm:px-24">
    <span class="columns-2 flex md:shrink-0 justify-items-center items-center justify-evenly">
        <h1 class="text-mech-500 pt-40 content-center font-bold font-sans sm:px-9 bg-clip-text text-6xl sm:text-8xl">Pizza Discount</h1>
    </span>
    <span class="columns-2 flex md:shrink-0 justify-items-center items-center justify-evenly">
        <h2 class="text-mech-200 pb-9 content-center font-bold font-sans sm:px-9 bg-clip-text text-4xl sm:text-6xl">Panago Pizza</h2>
    </span>
    <p class="text-mech-500 pb-4">EngSoc has negotiated a discount with Panogo Pizza to get 15% off + $4.50 shipping fee when you deliver to St. George Campus! You have to order from Panogo Pizza Bathurst (at 787 Bathurst Street, Toronto). Call them at (647)-784-8089 and tell them you’re from UofT Engineering Society, and then show them your T-Card. <br/>
    </p>
    <h2 class="text-mech-500 py-8 text-center content-center font-bold font-sans bg-clip-text text-4xl sm:text-6xl">Enjoy! 💙</h2>
