---
import Layout from '../layouts/Layout.astro';
import CardDark from '../components/CardDark.astro';
---
<Layout>
  <main class="m-auto p-4 max-w-full text-xl px-16">
    <span class="columns-2 flex md:shrink-0 justify-items-center items-center justify-evenly">
        <h1 class="text-mech-500 pt-40 content-center font-sans px-9"><span class="bg-clip-text text-8xl">Shop!</span></h1>
    </span>
    <h2 class="text-mech-500 py-8 content-center font-sans"><span class="bg-clip-text text-6xl">Lockers</span></h2>
<p class="text-mech-500 leading-10">Mechanical engineering students have access to rent lockers on campus in three different locations! Lockers are assigned on a first-come first-served basis but student preference is taken into consideration. Lockers are sold by the Mechanical Engineering Club for $25 for Mech students and $30 for non-Mech students. We accept applications at any point during the school year and they are currently being rented for the entire 2023/24 year (includes Fall, Winter, and Summer sessions). Students must supply their own locks and are responsible for clearing out their belongings at the end of their rental period.
    </p>
    <ul role="list" class="link-card-grid p-4 grid gap-8">
      <CardDark
              href="https://docs.google.com/forms/d/e/1FAIpQLSeZFXw7fCcLDl2yMr3BpnlO9ikidKa4x0awX_HLvU7f5_4CPA/viewform"
              title="Rent Your Locker"
              body="Rent your locker here!"
      />
    </ul>
    <h2 class="text-mech-500 py-8 content-center font-sans"><span class="bg-clip-text text-6xl">Merch | WIP :(</span></h2>

  </main>
</Layout>

<style>
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
