<!-- Footer -->
---
import { Icon } from 'astro-icon/components'
---
<nav class="mt-5 m-2">
  <!-- -->
  <div class="relative flex flex-wrap overflow-auto m-0 py-5 px-7 bg-mech-200 w-full min-h-fit border-4 border-mech-500 rounded-2xl content-center text-center items-stretch sm:justify-between justify-center gap-3">
    <!-- Left Hand Side up to # -->
    <div class="flex flex-wrap gap-5 justify-left py-3">
      <!-- for medium sized screens up until ## -->
      <div class="flex gap-3">
        <div class="hidden lg:flex">
          <a href="/./" class="float-right items-center self-center" >
          <button type="button" class="float-right items-center self-center rounded-full border-4 border-mech-500 text-mech-100 text-center bg-mech-500 w-72 h-16 font-bold">Mech Club, University of Toronto</button>
          </a>
        </div>
        <div class="flex">
          <a href="https://map.utoronto.ca/?id=1809#!m/494466?share" target="_blank" class="float-right items-center self-center" >
            <button type="button" class="float-right items-center self-center rounded-full border-4 border-mech-500 text-center text-mech-500 bg-mech-300 w-80 h-16 font-bold">170 College St, Toronto, ON   |   MB2 25C </button>
          </a>
        </div>
      </div>
      <!-- ## -->
    </div>
    <!-- # -->
    <!-- Right Hand Side up to # -->
    <div class="flex py-3 gap-3">
        <!-- Insta -->
        <div class="flex" >
          <a href="https://www.instagram.com/mechclub/" target="_blank" class="float-right items-center self-center" >
            <button type="button" class="rounded-full border-4 border-mech-500 text-center items-center place-center text-mech-500 bg-mech-100 w-16 h-16 font-bold">
              <div class="flex place-items-center text-center justify-center" >
                <Icon name="mdi:instagram" class="font-bold text-4xl m-0" />
              </div>
            </button>
          </a>
        </div>
        <!-- Mail -->
        <div class="flex" >
          <a href="mailto:mechclub@g.skule.ca" target="_blank" class="float-right items-center self-center" >
            <button type="button" class="rounded-full border-4 border-mech-500 text-center items-center place-center text-mech-500 bg-mech-100 w-16 h-16 font-bold">
              <div class="flex place-items-center text-center justify-center" >
                <Icon name="mdi:email-outline" target="_blank" class="font-bold text-4xl m-0" />
              </div>
            </button>
          </a>
        </div>
        <!-- LinkTree -->
        <div class="flex" >
          <a href="https://linktr.ee/mechclub" class="float-right items-center self-center" >
            <button type="button" class="rounded-full border-4 border-mech-500 text-center items-center place-center text-mech-500 bg-mech-100 w-16 h-16 font-bold">
              <div class="flex place-items-center text-center justify-center" >
                <Icon name="mdi:link-plus" class="font-bold text-4xl m-0" />
              </div>
            </button>
          </a>
        </div>
    </div>
    <!-- # -->
  </div>
</nav>

