<!-- Navbar -->
---
import { Image } from 'astro:assets'
import logo from '../images/mechclublogo.png';
---
<nav>
  <!-- -->
  <div class="fixed flex flex-wrap overflow-hidden m-0 px-7 bg-mech-200 w-full h-28 border-4 border-t-0 border-mech-500 rounded-b-2xl content-center text-center items-stretch justify-between">
    <!-- Left Hand Side up to # -->
    <div class="flex flex-wrap gap-5 content-center justify-left">
      <a href="/./" class="ml-5" >
        <Image src={logo} class="w-20 h-20 self-center" alt="Mech Club logo" loading="eager" width=400 height=400 />
      </a>
      <div class="hidden lg:flex flex-wrap content-center align-center">
        <h1 class="font-sans font-bold text-mech-100 text-6xl">Mech Club</h1>
      </div>
    </div>
    <!-- # -->
    <!-- Right Hand Side up to # -->
    <div class="flex" >
       <!-- for medium sized screens up until ## -->
      <div class="flex gap-3">
        <div class="flex">
          <a href="/about/" class="float-right items-center self-center" >
            <button type="button" class="rounded-full border-4 border-mech-500 text-center text-mech-500 bg-mech-100 w-32 h-16 font-bold">About Us</button>
          </a>
        </div>
        <div class="flex">
          <a href="/resources/" class="float-right items-center self-center" >
            <button type="button" class="rounded-full border-4 border-mech-500 text-center text-mech-500 bg-mech-100 w-32 h-16 font-bold">Resources</button>
          </a>
        </div>
        <div class="flex">
          <a href="/shop/" class="float-right items-center self-center" >
            <button type="button" class="rounded-full border-4 border-mech-500 text-center text-mech-500 bg-mech-100 w-24 h-16 font-bold">Shop</button>
          </a>
        </div>
      </div>
      <!-- ## -->
   </div>
    <!-- # -->
  </div>
</nav>

